name: Go CI

on:
  push:
    branches: [ '**' ]
  pull_request:
    branches: [ '**' ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: '1.22.4'

      - name: Go fmt
        run: go fmt ./...

      - name: Golangci Linter
        uses: golangci/golangci-lint-action@v6
        with:
            args: --skip-dirs=../../../go/pkg

      - name: Go test
        run: go test ./...






